@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Clock.css" />


<script type="text/javascript">
    function drawCircle() {
        var canvas = document.getElementById('clock');
        var ctx = canvas.getContext('2d');
        ctx.beginPath();
        ctx.arc(185, 185, 180, 0, Math.PI * 2, true);
        ctx.stroke();
        ctx.fillStyle = 'rgb(200, 0, 0)';
        for (i = 1; i <= 12; i++) {
            x = 183 + Math.sin(i * 3.14 * 2 / 12) * 180;
            y = 183 - Math.cos(i * 3.14 * 2 / 12) * 180;
            ctx.fillRect(x, y, 4, 4);
        }
    }
</script>

<body onload="draw();">

    <div class="text-center">

        <div class="clock-container">

            <div class="dynamic-clock-container">
                <article class="clock">
                    <div class="hours-container">
                        <div class="hours"></div>
                    </div>
                    <div class="minutes-container">
                        <div class="minutes"></div>
                    </div>
                    <div class="seconds-container">
                        <div class="seconds"></div>
                    </div>
                </article>
            </div>

            <canvas id="clock" width="370" height="370" class=circle></canvas>

            <div class="newCircle"></div>
        </div>



        <table border="0" cellpadding="0" width="100%" id="TestWorkTable">
            <tr><td>Hours</td><td>Degree</td></tr>

            @foreach (KeyValuePair<int, int> keyValue in ViewBag.Result)
            {

                <tr>
                    <td>@keyValue.Key</td>
                    <td>@keyValue.Value</td>
                </tr>

            }

        </table>




        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="~/js/circle-progress.js"></script>
        <script>
            $('.newCircle').circleProgress({
                value: 0.75,
                size: 420.0,
                fill: { gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI / 4 }
            }).on('circle-animation-progress', function (event, progress, stepValue) {
                $(this).find('strong').text(String(stepValue.toFixed(2)).substr(1));

            });

        </script>

        <script type="text/javascript">drawCircle()</script>



    </div>

</body>