@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Clock.css" />

<script type="text/javascript">
    function drawPoint(hour, degree) {
      var canvas = document.getElementById('clock');
      if (canvas.getContext) {
        var ctx = canvas.getContext('2d');

          ctx.fillStyle = 'rgb(200, 0, 0)';

          x = 250 + Math.sin(hour * 3.14 * 2 / 12) * (130 + 2 * degree);
          y = 250 - Math.cos(hour * 3.14 * 2 / 12) * (130 + 2 * degree);

        ctx.fillRect(x, y, 5, 5);

      }
    }

    function drawCircle() {
      var canvas = document.getElementById('clock');
      var ctx = canvas.getContext('2d');

      ctx.beginPath();
        ctx.arc(250, 250, 130, 0, Math.PI * 2, true); 
        ctx.stroke();
      
    }

    function drawLine(x1, y1, x2, y2) {
      var canvas = document.getElementById('clock');
      if (canvas.getContext) {
        var ctx = canvas.getContext('2d');

          ctx.fillStyle = 'rgb(200, 0, 0)';
          ctx.moveTo(x1, y1);
          ctx.lineTo(x2, y2);

      }
    }
</script>

<body onload="draw();">

    <div class="text-center">

        <circle-progress [percent]="85"
                         [radius]="100"
                         [outerStrokeWidth]="16"
                         [innerStrokeWidth]="8"
                         [outerStrokeColor]="'#78C000'"
                         [innerStrokeColor]="'#C7E596'"
                         [animation]="true"
                         [animationDuration]="300"></circle-progress>

        <canvas id="clock" width="500" height="500"></canvas>

        <article class="clock">
            <div class="hours-container">
                <div class="hours"></div>
            </div>
            <div class="minutes-container">
                <div class="minutes"></div>
            </div>
            <div class="seconds-container">
                <div class="seconds"></div>
            </div>
        </article>

        <script type="text/javascript">drawCircle()</script>


        @foreach (KeyValuePair<int, int> keyValue in ViewBag.Result)
        {

            <script type="text/javascript">drawPoint(@keyValue.Key, @keyValue.Value)</script>

        }




        <table border="0" cellpadding="0" width="100%" id="TestWorkTable">
            <tr><td>Hours</td><td>Degree</td></tr>

            @foreach (KeyValuePair<int, int> keyValue in ViewBag.Result)
            {

                <tr>
                    <td>@keyValue.Key</td>
                    <td>@keyValue.Value</td>
                </tr>

            }

        </table>



    </div>

</body>