@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Clock.css" />
<script type="text/javascript">
    function drawLine(hour, degree) {
      var canvas = document.getElementById('clock');
      if (canvas.getContext) {
        var ctx = canvas.getContext('2d');

          ctx.fillStyle = 'rgb(200, 0, 0)';

          x = 250 + Math.sin(hour * 3.14 / 6) * (100 + 2 * degree)
          y = 250 - Math.cos(hour * 3.14 / 6) * (100 + 2 * degree)

        ctx.fillRect(x, y, 10, 10);

      }
    }
</script>

<body onload="draw();">

    <div class="text-center">

        <canvas id="clock" width="500" height="500"></canvas>

        @foreach (KeyValuePair<int, int> keyValue in ViewBag.Result)
        {

            <script type="text/javascript">drawLine(@keyValue.Key, @keyValue.Value)</script>

        }





        <table border="0" cellpadding="0" width="100%" id="TestWorkTable">
            <tr><td>Hours</td><td>Degree</td></tr>

            @foreach (KeyValuePair<int, int> keyValue in ViewBag.Result)
            {

                <tr>
                    <td>@keyValue.Key</td>
                    <td>@keyValue.Value</td>
                </tr>

            }

        </table>

        <article class="clock">
            <div class="hours-container">
                <div class="hours"></div>
            </div>
            <div class="minutes-container">
                <div class="minutes"></div>
            </div>
            <div class="seconds-container">
                <div class="seconds"></div>
            </div>
        </article>

    </div>

</body>