@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Clock.css" />


<script type="text/javascript">
    function drawPoint(hour, degree) {
        var canvas = document.getElementById('clock');
        if (canvas.getContext) {
            var ctx = canvas.getContext('2d');

            ctx.fillStyle = 'rgb(200, 0, 0)';

            x = 300 + Math.sin(hour * 3.14 * 2 / 12) * (170 + 2 * degree);
            y = 300 - Math.cos(hour * 3.14 * 2 / 12) * (170 + 2 * degree);

            ctx.fillRect(x, y, 5, 5);

        }
    }

    function drawCircle() {
        var canvas = document.getElementById('clock');
        var ctx = canvas.getContext('2d');

        ctx.beginPath();
        ctx.arc(300, 300, 170, 0, Math.PI * 2, true);
        ctx.stroke();

    }
</script>

<body onload="draw();">

    <div class="text-center">

        <circle-progress [percent]="85"
                         [radius]="100"
                         [outerStrokeWidth]="16"
                         [innerStrokeWidth]="8"
                         [outerStrokeColor]="'#78C000'"
                         [innerStrokeColor]="'#C7E596'"
                         [animation]="true"
                         [animationDuration]="300"></circle-progress>

        <canvas id="clock" width="600" height="600"></canvas>




        <article class="clock">
            <div class="hours-container">
                <div class="hours"></div>
            </div>
            <div class="minutes-container">
                <div class="minutes"></div>
            </div>
            <div class="seconds-container">
                <div class="seconds"></div>
            </div>
        </article>

        <script type="text/javascript">drawCircle()</script>


        @foreach (KeyValuePair<int, int> keyValue in ViewBag.Result)
        {

            <script type="text/javascript">drawPoint(@keyValue.Key, @keyValue.Value)</script>

        }


        <table border="0" cellpadding="0" width="100%" id="TestWorkTable">
            <tr><td>Hours</td><td>Degree</td></tr>

            @foreach (KeyValuePair<int, int> keyValue in ViewBag.Result)
            {

                <tr>
                    <td>@keyValue.Key</td>
                    <td>@keyValue.Value</td>
                </tr>

            }

        </table>

        <div class="newCircle">
            <canvas width="100" height="100"></canvas>
            <strong>.75</strong>
            <br />
        </div>


        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script  src="~/js/circle-progress.js"></script>
        <script>
            $('.newCircle').circleProgress({
                value: 0.75,
                fill: { gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI / 4}
            }).on('circle-animation-progress', function(event, progress, stepValue) {
                $(this).find('strong').text(String(stepValue.toFixed(2)).substr(1));

            });

        </script>



    </div>

</body>