@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Clock.css" />

<script type="text/javascript" src="~/js/correctTime.js">initLocalClocks()</script>


<script type="text/javascript">
    function main() {
        drawClock();
        drawArc();
    }

    function drawClock() {

        var canvas = document.getElementById('clock');
        var ctx = canvas.getContext('2d');
        ctx.beginPath();
        ctx.arc(185, 185, 180, 0, Math.PI * 2);
        ctx.stroke();
        ctx.fillStyle = 'rgb(0, 0, 139)';
        for (i = 1; i <= 12; i++) {
            x = 183 + Math.sin(i * 3.14 * 2 / 12) * 178;
            y = 183 - Math.cos(i * 3.14 * 2 / 12) * 178;
            ctx.fillRect(x, y, 4, 4);
        }
    }

    function drawArc() {

        var canvas = document.getElementById('clock');
        var ctx = canvas.getContext('2d');
        ctx.beginPath();

        ctx.lineWidth = 5;

        var serialyzed = '@Html.Raw(ViewBag.Result)';

        var dict =  JSON.parse(serialyzed);

        for (var key in dict) {

            if (0 <= parseInt(key, 10) <= 12) {

                ctx.beginPath();

                var color = 'rgb(255, ' + (255 - dict[key] * 255 / 30) + ', 0)';
                ctx.strokeStyle = color;
                var start = - Math.PI / 2 + parseInt(key, 10) * Math.PI / 6;
                var end = - Math.PI / 2 + (parseInt(key, 10) + 1) * Math.PI / 6;
                ctx.arc(185, 185, 183, start, end);

                ctx.stroke();

            }

        }

        ctx.closePath();
    }

</script>

<body onload="initLocalClocks();">

    <div class="text-center">

        <div class="clock-container">

            <div class="dynamic-clock-container">
                <article class="clock">
                    <div class="hours-container">
                        <div class="hours"></div>
                    </div>
                    <div class="minutes-container">
                        <div class="minutes"></div>
                    </div>
                    <div class="seconds-container">
                        <div class="seconds"></div>
                    </div>
                </article>

            </div>

            <canvas id="clock" width="370" height="370" class=circle></canvas>

        </div>

        <script type="text/javascript">main()</script>

    </div>

</body>