@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <table border="0" cellpadding="0" width="100%" id="TestWorkTable">
            <tr><td>Hours</td><td>Degrees</td></tr>
            
               @foreach (KeyValuePair<int, int> keyValue in ViewBag.Result)
                {
        <tr>
            <td>@keyValue.Key</td>
            <td>@keyValue.Value</td>
        </tr>
                }
            
        </table>
        
    </div>
