@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Clock.css" />
<link rel="stylesheet" href="~/css/degreeView.css" />

<script type="text/javascript" src="~/js/correctTime.js">initLocalClocks()</script>
<script src="~/js/drawClock.js"></script>


<script type="text/javascript">
    function main() {
        var canvas = document.getElementById('clock');
        var RADIUS = 180;
        var X0 = canvas.width / 2;
        var Y0 = canvas.height / 2;
        var hourlyWeather = '@Html.Raw(ViewBag.Result)';
        drawClock(canvas, X0, Y0, RADIUS);
        DrawHourlyWeather(canvas, X0, Y0, RADIUS + 3, hourlyWeather);
        addDegreeInHover(hourlyWeather);
    }
</script>

<body onload="initLocalClocks();">

    <div class="text-center">

        <div class="clock-container">

            <div class="dynamic-clock-container">
                <article class="clock">
                    <div class="hours-container">
                        <div class="hours"></div>
                    </div>
                    <div class="minutes-container">
                        <div class="minutes"></div>
                    </div>
                    <div class="seconds-container">
                        <div class="seconds"></div>
                    </div>
                </article>

            </div>

            <canvas id="clock" width="400" height="400" class=circle></canvas>

            <div class="degree-container">
                <div class="degree-text oneHour">
                    <div id="1" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text twoHour">
                    <div id="2" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text threeHour">
                    <div id="3" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text fourHour">
                    <div id="4" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text fiveHour">
                    <div id="5" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text sixHour">
                    <div id="6" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text sevenHour">
                    <div id="7" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text eightHour">
                    <div id="8" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text nineHour">
                    <div id="9" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text tenHour">
                    <div id="10" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text elevenHour">
                    <div id="11" class="hover-text">Undefined</div>
                </div>
                <div class="degree-text twelveHour">
                    <div id="12" class="hover-text">Undefined</div>
                </div>
            </div>

        </div>

        <script type="text/javascript">main()</script>

    </div>

</body>