.degree-container {
    position: absolute;
    display: block;
    z-index: 3;
}

.degree-text {
    line-height: 86px;
    height: 86px;
    width: 86px;
    color: #fff;
    text-align: center;
    vertical-align: central;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    z-index: 4;
}

    .degree-text:hover .hover-text {
        visibility: visible;
    }

.hover-text {
    background-color: #00ff21;
    width: inherit;
    height: inherit;
    visibility: hidden;
}


.oneHour,
.twoHour,
.threeHour,
.fourHour,
.fiveHour,
.sixHour,
.sevenHour,
.eightHour,
.nineHour,
.tenHour,
.elevenHour,
.twelveHour {
    visibility: visible;
    position: absolute;
}

.oneHour {
    top: 35px;
    left: 299px;
}

.twoHour {
    top: 123px;
    left: 340px;
}

.threeHour {
    top: 211px;
    left: 340px;
}

.fourHour {
    top: 299px;
    left: 301px;
}

.fiveHour {
    top: 331px;
    left: 213px;
}

.sixHour {
    top: 331px;
    left: 123px;
}

.sevenHour {
    top: 300px;
    left: 34px;
}

.eightHour {
    top: 211px;
    left: 0;
}

.nineHour {
    top: 123px;
    left: 0;
}

.tenHour {
    top: 35px;
    left: 34px;
}

.elevenHour {
    top: 0;
    left: 122px;
}

.twelveHour {
    top: 0;
    left: 211px;
}